# Python
__pycache__/
*.pyc

# Data generados
data/processed/

# Figuras generadas
figures/

# Notebooks
.ipynb_checkpoints/

# OS/IDE
.DS_Store
.vscode/

# (Opcional) modelos y features pesados que se pueden regenerar
*.npz
*.pt